<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Real2Time - <%- title || "" %></title>
  <meta name="author" lang="en" content="Eric Abouaf" />
  <meta name="copyright" content="Copyright 2011 Eric Abouaf" />

<link rel="stylesheet" type="text/css" href="/javascripts/yui/reset-fonts/reset-fonts.css">
<link rel="stylesheet" type="text/css" href="/javascripts/yui/assets/skins/sam/skin.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<link rel="stylesheet" type="text/css" href="/javascripts/inputex/css/inputEx.css">

<link rel="shortcut icon" href="/favicon.ico" />
<link rel="icon" href="/favicon.ico" sizes="32x32" />

<script src="/javascripts/yui/utilities/utilities.js"></script>

</head>
<body class="yui-skin-sam">
<div id="doc3" class="yui-t7">
   <div id="hd">
     <img id="logo" src="/images/logo.png" />
		<% if(typeof current_user != "undefined") { %>
    
     <span id="username">Welcome, <%= current_user.name %></span>
     <div id="nav">
     <ul>
				<li<% if(action == "topologies") { %> class="current"<% } %>><a href="/topologies">TOPOLOGIES</a></li>
				<li><a href="/editor">EDITOR</a></li>
				<li><a href="/sessions/logout">SIGN OUT</a></li>
			</ul>
			</div>
			<% } %>
     
   </div>
   <div id="bd">
	   <div class="yui-g">
	     <div class="pagewidth">
	      <!-- YOUR DATA GOES HERE -->
	      <%- body %>
	     </div>
	   </div>
	</div>
  <div id="ft">
    <div class="pagewidth">
      <p id="copyright">Copyright &copy; 2014 Real2Time. All rights reserved.</p>
     </div>
  </div>
</div>	
</body>
</html>
