<!-- BEGIN PAGE ACTIONS -->
<!-- DOC: Remove "hide" class to enable the page header actions -->
<div class="page-actions">

    <button id="new_topology" type="button" class="btn btn-circle blue-hoki">
        <i class="icon-plus"></i>&nbsp;<span class="hidden-sm hidden-xs">New topology&nbsp;</span>
    </button>

</div>
<!-- END PAGE ACTIONS -->