<!-- BEGIN PAGE ACTIONS -->
<!-- DOC: Remove "hide" class to enable the page header actions -->
<div class="page-actions">

    <button id="new_topology" type="button" class="btn btn-circle green-haze">
        <i class="icon-plus"></i>&nbsp;<span class="hidden-sm hidden-xs">New&nbsp;</span>
    </button>

    <button id="load_topology" type="button" class="btn btn-circle blue-steel">
        <i class="icon-cloud-upload"></i>&nbsp;<span class="hidden-sm hidden-xs">Load&nbsp;</span>
    </button>

    <button id="save_topology" type="button" class="btn btn-circle yellow-gold">
        <i class="icon-cloud-download"></i>&nbsp;<span class="hidden-sm hidden-xs">Save&nbsp;</span>
    </button>

    <button id="delete_topology" type="button" class="btn btn-circle grey-gallery">
        <i class="icon-trash"></i>&nbsp;<span class="hidden-sm hidden-xs">Delete&nbsp;</span>
    </button>

    <button id="run_topology" type="button" class="btn btn-circle red-pink">
        <i class="icon-control-play"></i>&nbsp;<span class="hidden-sm hidden-xs">Run&nbsp;</span>
    </button>

    <button id="zoom_in_topology" type="button" class="btn btn-circle grey-cascade">
        <i class="icon-magnifier-add"></i>&nbsp;<span class="hidden-sm hidden-xs">Zoom in&nbsp;</span>
    </button>

    <button id="zoom_out_topology" type="button" class="btn btn-circle grey-cascade">
        <i class="icon-magnifier-remove"></i>&nbsp;<span class="hidden-sm hidden-xs">Zoom out&nbsp;</span>
    </button>

</div>
<!-- END PAGE ACTIONS -->