<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">

        <!-- BEGIN PAGE CONTENT-->
        <div class="row">

            <div id="info_section" class="col-md-12 hide">

                <h3>Info</h3>

                <table class="table table-bordered table-striped center">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Id</th>
                            <th>Status</th>
                            <th>Uptime</th>
                            <th>Num workers</th>
                            <th>Num executors</th>
                            <th>Num tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> <span id="topo_name" class="font-blue-hoki"></span> </td>
                            <td> <span id="topo_id" class="font-blue-hoki"></span> </td>
                            <td> <span id="topo_status" class="label"></span> </td>
                            <td> <i id="topo_uptime" class="glyphicon glyphicon-time font-blue-hoki"></i> </td>
                            <td> <span id="topo_num_workers" class="badge bg-blue-hoki"></span> </td>
                            <td> <span id="topo_num_executors" class="badge bg-blue-hoki"></span> </td>
                            <td> <span id="topo_num_tasks" class="badge bg-blue-hoki"></span> </td>
                        </tr>
                    </tbody>
                </table>

            </div>


            <div id="stats_section" class="col-md-12 hide">

                <!-- Begin stat blocks -->

                <h3>Stats</h3>

                <div id="stats_header" class="row">

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div id="bolts" class="dashboard-stat blue-chambray blue-hoki">
                            <div class="visual">
                                <i class="icon-drop"></i>
                            </div>
                            <div class="details">
                                <div class="number"></div>
                                <div class="desc">Bolts</div>
                            </div>
                            <a class="more" href="javascript:void(0);" onclick="showContent('bolts');">
                            View more <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div id="spouts" class="dashboard-stat blue-chambray blue-hoki">
                            <div class="visual">
                                <i class="icon-energy"></i>
                            </div>
                            <div class="details">
                                <div class="number"></div>
                                <div class="desc">Spouts</div>
                            </div>
                            <a class="more" href="javascript:void(0);" onclick="showContent('spouts');">
                            View more <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>

                </div>

                <div id="spouts_content" class="row hide"></div>
                <div id="bolts_content" class="row hide"></div>

                <div id="spouts_subcontent" class="tiles"></div>
                <div id="bolts_subcontent" class="tiles"></div>

                <div class="row hide">

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat blue-hoki">
                            <div class="visual">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="details">
                                <div class="number">1349</div>
                                <div class="desc">New Feedbacks</div>
                            </div>
                            <a class="more" href="#">
                            View more <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat blue-hoki">
                            <div class="visual">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="details">
                                <div class="number">549</div>
                                <div class="desc">New Orders</div>
                            </div>
                            <a class="more" href="#">
                            View more <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat blue-hoki">
                            <div class="visual">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="details">
                                <div class="number">+89%</div>
                                <div class="desc">Brand Popularity</div>
                            </div>
                            <a class="more" href="#">
                            View more <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat blue-hoki">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details">
                                <div class="number">12,5M$</div>
                                <div class="desc">Total Profit</div>
                            </div>
                            <a class="more" href="#">
                            View more <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <!-- End stat blocks -->

                <!-- Begin Tiles -->
                <div class="tiles hide">

                    <div class="tile bg-blue-hoki">
                        <div class="tile-body">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name">Reports</div>
                            <div class="number"></div>
                        </div>
                    </div>

                    <div class="tile bg-blue-hoki">
                        <div class="tile-body">
                            <i class="fa fa-briefcase"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name">Documents</div>
                            <div class="number">124</div>
                        </div>
                    </div>

                    <div class="tile bg-blue-hoki selected">
                        <div class="corner">
                        </div>
                        <div class="check">
                        </div>bg-blue-chambray
                        <div class="tile-body">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name">Settings</div>
                        </div>
                    </div>

                    <div class="tile bg-blue-hoki">
                        <div class="tile-body">
                            <i class="fa fa-plane"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name">Projects</div>
                            <div class="number">34</div>
                        </div>
                    </div>

                </div>
                <!-- End tiles -->

            </div>

            <div id="conf_section" class="col-md-12 hide">

            <h3>Configuration</h3>
                <!-- BEGIN CONFTABLE PORTLET-->
                <div class="portlet box blue-hoki">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gears"></i>
                        </div>
                        <div class="tools"></div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover" id="topo_configuration">
                            <thead>
                                <tr>
                                    <th>Key</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <!-- END CONF TABLE PORTLET-->

            </div>
        </div>

    </div>
    <!-- END PAGE CONTENT-->
</div>
<!-- END CONTENT -->

<script type="text/javascript">
    topology = {"_id" : "<%= topology._id %>" };
</script>
