<!-- BEGIN PAGE ACTIONS -->
<!-- DOC: Remove "hide" class to enable the page header actions -->
<div class="page-actions">

    <button id="edit_topology" type="button" class="btn btn-circle blue-hoki">
        <i class="icon-pencil"></i>&nbsp;<span class="hidden-sm hidden-xs">Edit&nbsp;</span>
    </button>

    <button id="activate_topology" type="button" class="btn btn-circle green-jungle">
        <i class="icon-control-play"></i>&nbsp;<span class="hidden-sm hidden-xs">Activate&nbsp;</span>
    </button>

    <button id="deactivate_topology" type="button" class="btn btn-circle red-flamingo">
        <i class="icon-control-pause"></i>&nbsp;<span class="hidden-sm hidden-xs">Deactivate&nbsp;</span>
    </button>

    <button id="rebalance_topology" type="button" class="btn btn-circle yellow-gold">
        <i class="icon-reload"></i>&nbsp;<span class="hidden-sm hidden-xs">Rebalance&nbsp;</span>
    </button>

    <button id="kill_topology" type="button" class="btn btn-circle grey-gallery">
        <i class="icon-ban"></i>&nbsp;<span class="hidden-sm hidden-xs">Kill&nbsp;</span>
    </button>

</div>
<!-- END PAGE ACTIONS -->