<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">

            <li>
                <a href="javascript:void(0);" onclick="showSection('info');">
                <i class="icon-info"></i>
                <span class="title">Info</span>
                </a>

            </li>

            <li>
                <a href="javascript:void(0);" onclick="showSection('stats');">
                <i class="icon-bar-chart"></i>
                <span class="title">Stats</span>
                </a>

            </li>

            <li>
                <a href="javascript:void(0);" onclick="showSection('conf');">
                <i class="icon-settings"></i>
                <span class="title">Conf</span>
                </a>

            </li>


        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->